 p {
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    color: #535588;
    }
h1 {font-family: sans-serif;
   }
h2 {font-family: sans-serif;
}
a {font-family: sans-serif;
} 

